@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Application Roles";
}

<div class="roles-container">
    <h2 class="Roles">Roles</h2>
    <a asp-action="Create" class="btn-create-role">Create Roles</a>
</div>

<div class="roles-table-wrapper role-table-gen">
    <table class="roles-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="action-link edit">Edit</a>
@*                         <a asp-action="Details" asp-route-id="@item.Id" class="action-link details">Details</a>
 *@                        <a asp-action="Delete" asp-route-id="@item.Id" class="action-link delete">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



