@model WebApp.Models.Event_category

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event_category</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerHour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricePerHour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricePerDay)
        </dd>
        <dt class = "col-sm-2">
            <div class="form-group">
                <label class="control-label">Is Active</label>
            </div>
        </dt>
        <dd class = "col-sm-10">
            <div class="form-control-static">@Model.IsActive</div>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxCapacity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
